<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="pull-left navbar-brand">Converter</a>
            <ul class="nav navbar-nav pull-left">
                <li class="active"><a href="/">На главную</a></li>
                <li>@Html.ActionLink("List", "List")</li>
                <li>@Html.ActionLink("Add Category", "AddCategory")</li>
                <li>@Html.ActionLink("Add Params", "AddParams")</li>
            </ul>
        </div>
    </div>
</div>